 /* GLOBAL STYLES */
      h1 {
        font-size: 7vw;
        margin-top: 0;
      }
      a {
        color: #f00;
      }

      /* HERO STYLES */
      .full-hero {
        background-color: #c7dbfc;
        height: 50vh;
      }

      /* SOCIAL STYLES */
      .social-link {
        background: rgba(150, 150, 150, 0.5);
        border-radius: 99px;
        box-sizing: border-box;
        color: #fff;
        display: inline-block;
        font-family: helvetica, arial, sans;
        font-size: 1rem;
        font-weight: bold;
        height: 2.5em;
        line-height: 1;
        padding-top: 0.85em;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        width: 2.5em;
      }

.social-list {
  list-style: none;
  padding: 0;  
  text-align: center;    
}
.social-list > li {
  display: inline-block;
  margin: 0 0.5em;
}

      /* BIO STYLES */
      .bio-wrapper {
        font-size: 24px;        
        overflow: hidden;
        margin: 0 auto 1em;
        max-width: 960px;
      }

/*.bio-wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}*/
      .bio-box {
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 10px;
        float: left;
        font-size: 1rem;
        padding: 2%;
        width: 23%;
        margin: 40px 1% 0;
      }
      .bio-box h3 {
        color: #fff;
        margin: -40px 0 1em;
        font-size: 1.5em;
      }
.bio-box img {
  width: 100%;
}
      .bio-copy {
        font-size: 1em;
      }
      .bio-copy a {
        color: green;        
      }